.listing-form{
    /* background-color: tomato; */
    flex: 0 0 60%;
}

.listing-form__title{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    transform: translateX(3rem); /* Only optional for this project - not going to library */
}

.listing-form__form{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.listing-form__label{
    color:black;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.listing-form__input, .listing-form__price{
    width: 100%;
    padding: 1.25rem 2rem;
    border-radius: .5rem;
    border: .2rem solid #e8edf7;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.listing-form__input:focus, .listing-form__price:focus, .listing-form__type:focus{
    outline: none;
    border: .2rem solid #f2994a ;
}

/* .listing-form__input:focus + .listing-form__label{
    color: #f2994a ;
} */

.listing-form__input::-webkit-input-placeholder, .listing-form__price::-webkit-input-placeholder{
    color: #e8edf7;
}

.listing-form__row{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.listing-form__col{
    flex: 0 0 47%;
    display: flex;
    flex-direction: column-reverse;
}

.listing-form__type{
    height: 4.6rem;
    border-radius: .5rem;
    background-color: white;
    border: .2rem solid #e8edf7;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.75rem;
    cursor: pointer;
}

.listing-form__footer{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.listing-form__btn{
    color: white;
}

.listing-form__btn:active, .listing-form__btn:link{
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 1.25rem 2.5rem;
    background-color: #f2994a;
    border-radius: .5rem;
    background:linear-gradient(90deg, #f2994a 0%,#f2c94c 100% );
}