.map{
    flex: 0 0 45%;
    background-color: coral;
    height: 25rem;
    border-radius: .5rem;
    /* TEST ONLY */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}